/*** Page layout ***/

body {
	background-color: white;
	position: relative;
}
#container {
	max-width: 620px;
	min-width: 550px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#bigkiln {
	display: none;
}

/*** General text styles ***/

h1 { 
	font-size: 26px;
	color: #666;
	font-family: 'PMNCaeciliaW01-45Light', georgia, serif;
	font-weight: normal;
}
h2 { 
	color: #C3004D;
	font-size: 20px;
	line-height: 1.1em;
	margin-top: 35px;
	padding-top: 20px;
	display: inline;
	font-family: 'PMNCaeciliaW01-75Bold', georgia, serif;
	font-weight: normal;
}
h3 {
	font-size: 16px;
	font-weight: normal;
	color: #C3004D;
	line-height: 1.1em;
	margin-top: 32px;
	font-family: 'PMNCaeciliaW01-75Bold', georgia, serif;
	font-weight: normal;
}
p, div {
	font-family: 'PMNCaeciliaW01-55Roman', georgia, serif;
	font-size: 16px;
	line-height: 1.4em;
	background: white;
}
img {
	background: white;
}
a:link, a:visited {
	color: #C3004D;
	text-decoration: none;
	border: none;
	background: none;
}
a:hover, a:active {
	color: #777;
	text-decoration: none;
	border: none;
	background: none;
}
p a:link, a:visited {
	color: #C3004D;
	border-bottom: 1px dotted #C3004D;
	text-decoration: none;
	border: none;
	background: none;
}
p a:hover, a:active {
	color: #777;
	border-bottom: 1px dotted #C3004D;
	background: none;
}
.uparrow {
	display: none;
	display: inline-block;
	margin-left: 6px;
}
.uparrow a:link, 
.uparrow a:visited { 
	font-size: 14px;
	color: #CCCCCC;
}
.uparrow a:hover, 
.uparrow a:active { 
	color: #C3004D;
}

/*** Header ***/

#header {
	position: relative;
	margin-top: 100px;
}
#logo {
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: middle;
}
#logoshadow {
	display: none;
	position: absolute;
	left: -20px;
	top: 80px;
}
#strap {
	display: inline;
	vertical-align: middle;    
	margin-left: 20px;
	margin-top: 20px;
	font-size: 26px;
	color: #666;
	font-family: 'PMNCaeciliaW01-45Light', georgia, serif;
}
#intro {
	font-size: 20px;
	margin: 70px 20px;
	color: black;
	font-family: 'PMNCaeciliaW01-55Roman', georgia, serif;
}

/***Main area***/

#mainarea { 
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

#menu {
	font-family: 'PMNCaeciliaW01-75Bold', georgia, serif;
	margin: 0 0 50px 0;
	padding-top: 10px;
	color: yellow;
	font-size: 18px;
	color: rgb(190,190,190);
}
.menu a:link, .menu a:visited  {
	color: #C3004D;
	border: 0;
	padding: 2px;
}
.menu a:hover, .menu a:active  { 
	color: white;
	padding: 2px;
	background: black;
}
.menuline {
	margin: 0 10px;
}

/***Projects***/

.projectheader {
	margin-top: 60px;
}
.projectheader a:active {
	border: none;
}
.projectimage, .projectimage-ac {
	width: 62px;
	height: 62px;
	border: none;
	display: inline-block;
	vertical-align: middle;
}
.projectimage a:link, .projectimage-ac a:visited,
.projectimage a:link, .projectimage-ac a:visited {
	border: none;
	background: none;
}
.projectimage a:hover, .projectimage-ac a:active,
.projectimage a:hover, .projectimage-ac a:active {
	border: none;
	background: none;
}
.projectname {
	font-size: 18px;
	color: #555;
	display: inline;
	vertical-align: middle;
	padding-left: 10px;
	font-family: 'PMNCaeciliaW01-45Light', georgia, serif;
}
.projectname a:link, .projectname a:visited {
	color: #666;	
}
.projectname a:hover, .projectname a:active {
	color: #C3004D;	
}
.projectimage:hover {
	animation-name: spinner-short;   
	-webkit-animation-name: spinner-short;
	-moz-animation-name: spinner-short;
	-o-animation-name: spinner-short;

}
.projectimage-ac:hover {
	animation-name: spinner-short-ac;
	-webkit-animation-name: spinner-short-ac;
	-moz-animation-name: spinner-short-ac;
	-o-animation-name: spinner-short-ac;
}
@media only screen and (max-device-width: 480px) {
	#intro {
		font-size: 24px;
	}
}