body { background-color: white; padding-left: 10%; padding-right: 10%; min-width: 420px;}	
p, div { font-family: 'Droid Serif', Georgia, serif; color: black; font-size: 14px; line-height: 1.4em; }
h2 { color: yellow; font-size: 18px; line-height: 1.4em; margin-top: 60px; font-weight: normal; }
h3 { font-size: 15px; font-weight: normal; color: rgb(190,190,190); line-height: 1.4em; margin-top: 32px; }
strong { font-weight: normal; text-transform: uppercase; }
a:link, a:visited { color: white; border-bottom: 1px dotted yellow; text-decoration: none; }
a:hover, a:active { background: yellow; color: black; }
#container { max-width: 875px; min-width: 390px;}
.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
	}
#masthead { width: 94px; height: 94px;
	-webkit-animation-name: spinner;
	-moz-animation-name: spinner;
	-ms-animation-name: spinner;
	-o-animation-name: spinner;
	animation-name: spinner;
}
@-webkit-keyframes spinner {
	0% { -webkit-transform-origin: center center; -webkit-transform: rotateY(-1200deg); opacity: 0.1; }
	100% { -webkit-transform-origin: center center; -webkit-transform: rotateY(0); opacity: 1; }
}
@-moz-keyframes spinner {
	0% { -moz-transform-origin: center center; -moz-transform: rotate(-1200deg); opacity: 0.1; }
	100% { -moz-transform-origin: center center; -moz-transform: rotate(0); opacity: 1; }
}
@-ms-keyframes spinner {
	0% { -ms-transform-origin: center center; -ms-transform: rotate(-1200deg); opacity: 0.1; }
	100% { -ms-transform-origin: center center; -ms-transform: rotate(0); opacity: 1; }
}
@-o-keyframes spinner {
	0% { -o-transform-origin: center center; -o-transform: rotate(-1200deg); opacity: 0.1; }
	100% { -o-transform-origin: center center; -o-transform: rotate(0); opacity: 1; }
}
@keyframes spinner {
	0% { transform-origin: center center; transform: rotate(-1200deg); opacity: 0.1; }
	100% { transform-origin: center center; transform: rotate(0); opacity: 1; }
}
#strap { padding-left: 10%; padding-right: 10%; font-size: 17px; color: yellow; }
#projects { min-height: 130px; }
#mainarea { padding-bottom: 40px; padding-left: 10%; padding-right: 10%; }
.intro { font-size: 18px; margin-top: 80px; }
.highlight { color: yellow; font-size: 16px; }
.projectimage { width: 100px; height: 100px; float: left; margin: 0 20px 10px 0; border: solid 1px white; background: white;}
.menu { margin: 40px 0 80px 0; color: yellow; font-size: 16px; color: rgb(190,190,190); }
.menu a:link, .menu a:visited  { color: rgb(190,190,190); }
.menu a:hover, .menu a:active  { color: black; }
.menuline { margin: 0 10px; }
.yellowdot { color: yellow;}
.project { min-height: 120px; }
